<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</head>

<body class="flex flex-col lg:flex-row min-h-screen tracking-wide bg-gray-200">
    <a href="#" onclick="history.back();return false"><span><iconify-icon icon="bx:arrow-back" width="40" height="70"></iconify-icon></span></a>
  <main class="flex flex-col md:flex-row mx-auto flex gap-4 items-stretch justify-between max-w-full lg:max-w-[115rem] mt-12">

    <section class="flex flex-col gap-4 items-stretch w-full">
        {{yes}}
    </section>
        

  </main>
</body>

</html>